{% extends "WebDjango/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Bienvenido al menu de búsqueda de articulos</h1>

    <h3>Introduce el nombre del articulo para buscarlo:</h3>

    <form action="/WebDjango/buscarNombre/" method="GET">

        <input type="text" name="nombre" id="nombre">

        <input type="submit" value="Buscar">




    </form>

    

    {% if articulos %}

    <p>Estamos buscando el: {{nombre}}</p>

    <ul>
	{% for articulo in articulos %}
		<li> {{usuario.nombre}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}