{% extends "WebDjango/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Envios Pendientes</h1>
    <ul>
        {% for envio in object_list %}

            <li>
                <p>Fecha: {{ envio.fecha }} </p>
                <p>
                    <a href="{% url 'Detail' envio.id %}">Ver</a>
                    <a href="{% url 'Edit' envio.id %}">Editar</a>
                    <a href="{% url 'Delete' envio.id %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'Envios' %}">
        Agregar otro envio 
    </a>
{% endblock %}